html, body {
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
}

:root {
  --button-height: 20px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - var(--button-height));
  overflow: hidden;
}

.btn {
  cursor: pointer;
}

.tools-btn {
  height: var(--button-height);
}

.tools-wrapper {
  padding: 20px;
  margin: var(--button-height) 0 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f0f0f0;
  display: none;
  box-shadow: 0 15px 15px -5px #00000033;
  z-index: 10;
}

.show {
  display: initial;
}

canvas#art-board {
  --border-width: 0;
  --width: 800;
  --height: 600;
  max-width: var(--width);
  max-height: var(--height);
  background-color: #fff;
  border: var(--border-width) solid grey;
  box-shadow: 0 0 30px 10px #000;
  opacity: 0;
  transition: all 0.5s ease;
}

canvas#art-board:focus {
  outline: none;
}

.control {
  color: #000;
  font-weight: strong;
}

/***********/
/* Brushes */
/***********/

.brushes {
  display: flex;
  flex-direction: row;
}

.brushes input[type="radio"] {
  color: #000;
}

.brushes label[for*="brush"] {
  margin-left: 10px;
  color: #000;
  cursor: pointer;
}

/*******************/
/* Colour Swatches */
/*******************/

ul.swatches {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 0;
}

ul.swatches > li {
  list-style: none;
  margin: 0 3px;
  display: none;
}

ul.swatches > li > label {
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  opacity: 0.8;
  border-radius: 2px;
  transition: all 0.1s ease;
}

ul.swatches > li > label:hover,
ul.swatches > li > input:checked + label {
  opacity: 1;
  box-shadow: 0 2px 5px 1px #00000033;
  transform: translateY(-5px);
  height: 30px;
  transition: all 0.1s ease;
}

ul.swatches > li > input {
  display: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

/******************/
/* Custom cursors */
/******************/

.cursor-size-10 {
  --size: 10;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 12 12"><circle cx="6" cy="6" r="5" stroke="black" stroke-width="0.5" fill="none" /></svg>') var(--size) var(--size), auto;
}

.cursor-size-20 {
  --size: 20;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="44" width="44" viewBox="0 0 22 22"><circle cx="11" cy="11" r="10" stroke="black" stroke-width="0.5" fill="none" /></svg>') var(--size) var(--size), auto;
}

.cursor-size-40 {
  --size: 40;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="84" width="84" viewBox="0 0 42 42"><circle cx="21" cy="21" r="20" stroke="black" stroke-width="0.5" fill="none" /></svg>') var(--size) var(--size), auto;
}

.cursor-size-60 {
  --size: 60;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="124" width="124" viewBox="0 0 62 62"><circle cx="31" cy="31" r="30" stroke="black" stroke-width="0.5" fill="none" /></svg>') var(--size) var(--size), auto;
}

/***********************/
/* margins and padding */
/***********************/

.m-tb-20, .m-bt-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-r-10 {
  margin-right: 10px;
}