:root {
  --button-height: 30px;
  --artboard-colour: #444;
  --tools-padding: 20px;
}

body {
  margin: 30px;
  padding: 0;
  background-color: var(--artboard-colour);
  overflow: hidden;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  color: #fff;
}

h3 {
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
  letter-spacing: 1px;
  background: linear-gradient(0deg, #ffd900, #ff7300, #ff0080, #8400ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  background-size: 150%;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 220px);
  overflow: hidden;
}

canvas#art-board {
  --border-width: 0;
  --width: 800;
  --height: 600;
  max-width: var(--width);
  max-height: var(--height);
  background-color: #fff;
  border: var(--border-width) solid grey;
  box-shadow: 0 0 20px 10px #000;
  opacity: 0;
  transition: all 0.5s ease;
}

canvas#art-board:focus {
  outline: none;
}

section > .control {
  color: #fff;
  font-weight: strong;
}

/*********/
/* Tools */
/*********/

.tools-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin: calc(155px) 0 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--artboard-colour);
  box-shadow: 0 15px 15px -5px #00000033;
  z-index: 10;
  opacity: 0;
  transition: all 0.2s ease;
  pointer-events: none;
}

.tools-wrapper.show {
  opacity: 1;
  pointer-events: initial;
  transition: all 0.2s ease;
}

.tools-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: var(--button-height);
  cursor: pointer;
  background-color: var(--artboard-colour);
  color: #fff;
  border: 0;
  outline: 0;
  transition: all 0.2s ease;
  font-size: 1.5rem;
  opacity: 0.7;
}

.tools-btn:hover {
  opacity: 1;
}

.tools-btn > .fa-angle-down {
  transform: rotate(180deg);
  transition: all 0.2s ease;
}

.tools-btn.show > .fa-angle-down {
  transform: rotate(0deg);
  transition: all 0.2s ease;
}

/***********/
/* Brushes */
/***********/

.brushes {
  display: flex;
  flex-direction: row;
}

.brushes input[type="radio"] {
  color: #000;
}

.brushes label[for*="brush"] {
  margin-left: 10px;
  color: #fff;
  cursor: pointer;
}

/*******************/
/* Colour Swatches */
/*******************/

ul.swatches {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 0;
  margin: 10px 0;
}

ul.swatches > li {
  list-style: none;
  margin: 0 3px;
  display: none;
}

ul.swatches > li > label {
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  opacity: 1;
  border-radius: 5px;
  transition: all 0.1s ease;
}

ul.swatches > li > label:hover,
ul.swatches > li > input:checked + label {
  opacity: 1;
  box-shadow: 0 2px 5px 1px #00000033;
  transform: translateY(-5px);
  height: 30px;
  transition: all 0.1s ease;
}

ul.swatches > li > input {
  display: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

/***********/
/* Buttons */
/***********/

.btn {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  background-color: #ddd;
  cursor: pointer;
  transition: all 0.2s ease;
  outline: 0;
  font-weight: 700;
  display: inline-block;
  color: #000;
}

.btn:hover {
  background-color: #fff;
  box-shadow: 0 5px 10px -5px #000000;
  transition: all 0.2s ease;
}

.btn:active {
  transform: translateY(1px);
}

/******************/
/* Custom cursors */
/******************/

.cursor-size-10 {
  --size: 10;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 12 12"><circle cx="6" cy="6" r="5" stroke="black" stroke-width="0.5" fill="none" /></svg>') var(--size) var(--size), auto;
}

.cursor-size-20 {
  --size: 20;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="44" width="44" viewBox="0 0 22 22"><circle cx="11" cy="11" r="10" stroke="black" stroke-width="0.5" fill="none" /></svg>') var(--size) var(--size), auto;
}

.cursor-size-40 {
  --size: 40;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="84" width="84" viewBox="0 0 42 42"><circle cx="21" cy="21" r="20" stroke="black" stroke-width="0.5" fill="none" /></svg>') var(--size) var(--size), auto;
}

.cursor-size-60 {
  --size: 60;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="124" width="124" viewBox="0 0 62 62"><circle cx="31" cy="31" r="30" stroke="black" stroke-width="0.5" fill="none" /></svg>') var(--size) var(--size), auto;
}

/**********/
/* Layout */
/**********/

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/***********************/
/* margins and padding */
/***********************/

.m-tb-20, .m-bt-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}