body {
  margin: 0;
  background-color: #333;
  /* cursor: none; */
}

canvas#art-board {
  --width: 560;
  --height: 360;
  border: 5px solid #aaa;
  width: var(--width);
  height: var(--height);
  background-color: #fff;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.cursor {
  border: 1px solid black;
  border-radius: 50%;
  background-color: none;
  position: absolute;
}
